.header-background {
  background-color: #f3f3f3;
  width: 100%;             
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center; 
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  max-width: 900px;        
  padding: 20px 40px;     
  box-sizing: border-box;
}

.logo {
  color: black;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.lang-btn {
  padding: 12px 22px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}
