.header-background {
  background-color: #f3f3f3;
  width: 100%;             
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center; 
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  max-width: 900px;        
  padding: 20px 40px;     
  box-sizing: border-box;
}

.logo {
  color: black;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.nav-book {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: black;

  background: white;
  padding: 10px 22px;
  border-radius: 30px;

  border: 2px solid #ffb6c1;
  transition: 0.25s ease;
}

.nav-book:hover {
  background: #ffb6c1;
  color: white;
  border-color: #ffb6c1;
}